<mat-toolbar color="primary" >Github Profile viewer</mat-toolbar>

<div >
  <mat-form-field >
    <input [type]="inputType" [(ngModel)]="username" matInput placeholder="Github User Name" value="">
  </mat-form-field>
</div>
<br>

<button mat-flat-button color="primary" (click)="search()">Find Me</button>
<br>

<mat-card  *ngIf="data">
  <mat-card-header>
    <mat-spinner *ngIf="showspinner" color=warn> </mat-spinner>
    <mat-card-title>{{ data?.name }}</mat-card-title>
    <mat-card-subtitle>{{ data?.location }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data?.avatar_url">
  
  <mat-card-actions>
      <a [href]="data?.html_url" target="_blank">{{ data?.name }}</a>

  </mat-card-actions>
</mat-card>

<mat-card  *ngIf="!data">NO DATA TO DISPLAY</mat-card>